{{Define "title" .}}

{{end}}

{{Define "css" .}}

{{end}}

{{Define "script" .}}

{{end}}

{{Define "main" .}}
<form action="" method="post">
    <h1 class="display-6">Create Task</h1>

    <div class="row mb-2">
        <div class="col-2" style="text-align: end">Task Detail</div>
        <div class="col-6">
            <textarea name="content" placeholder="Masukkan Task"></textarea>
        </div>    
    </div>
    <div class="row mb-2">
        <div class="col-2" style="text-align: end">Asignee</div>
        <div class="col-6">
            <input class="form-control" type="text" name="asignee" placeholder="Masukkan Penerima">
        </div>    
    </div>
    <div class="row mb-2">
        <div class="col-2" style="text-align: end">Deadline</div>
        <div class="col-6">
            <input class="form-control" type="date" name="date">
        </div>    
    </div>
    <div class="row mb-2">
        <div class="col-6 offset-2">
            <button class="btn btn-outline-primary" type="submit">Submit</button>
        </div>    
    </div>

    <input type="date" name="date">

    <button type="submit">Submit</button>



</form>
{{end}}