{{define "tittle"}}

{{end}}

{{define "css"}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap.min.css" integrity="sha512-BMbq2It2D3J17/C7aRklzOODG1IQ3+MHw3ifzBHMBwGO/0yUqYmsStgBjI0z5EYlaDEFnvYV7gNYdD3vFLRKsA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{{end}}

{{define "script"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>    
    $(document).ready(function(){
        $('.table').Datatable()
    })
</script>
{{end}}

{{define "main"}}
    <h1 class="display-6 mt-5">"Created Task</h1>
    <a class="btn btn-primary mb-3" href="/create"><i class="fa-solid fa-plus"></i>Create</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Task</th>
                <th>Assignee</th>
                <th>Deadline</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{range $note := .Notes}}
            <tr>
                <td>{{$note.Content}}</td>
                <td>{{$note.Asignee}}</td>
                <td>{{$note.Date}}</td>
                <td>
                    {{if &note.IsDone}}
                    <button type="button" class="btn btn-success">Done</button>
                    {{else}}
                    <a href="/edit/{{$note.ID}}" class="btn btn-warning">Ubah</a>
                    <form action="done/{{$note.ID}}" method="POST">
                        <button type="submit" class= "btn btn-info">Selesai</button>             
                    </form>
                    <form action="delete/{{$note.ID}}" method="POST">
                        <button type="submit" class= "btn btn-danger">Delete</button>             
                    </form>
                    {{end}}
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
{{end}}